a
{
    text-decoration: none;
    background-color: blue;
   
    text-transform: uppercase;
    font-family: cursive;
    padding: 5px;
    display: block;
    
}
a:hover
{
    background-color: pink;
}
a:link
{
    color: red ;
}